.backbutton{
    text-align: right;
    margin-top: -35px;
}

.heading{
    font-size: 25px;
    padding-bottom: 10px;
    color: black;
}

.approveButton{
    margin-top: 50px;
    .appbutton{
        background-color: green;
    }
    
}